body{
    margin: 10;
}

.coursePanelGrid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: dodgerblue;
    gap: 1.5rem;
    padding: 48px 40px 40px 40px;
    max-width: 80rem;
    margin: auto;
}

.coursePanelGrid .courseCard {
    background-color: #f1f1f1;
    border: 1px solid black;
    /* padding: 10px; */
    font-size: 30px;
    text-align: center;
    border-radius: 16px;
}

.courseCard img{
    max-width: 100%;
    height: auto;
}